---
import menuIcon from "../../public/images/icon-menu.svg";
import logoIcon from "../../public/images/logo.svg";
import logoCart from "../../public/images/icon-cart.svg";
import imageAvatar from "../../public/images/image-avatar.png";
import closeIcon from "../../public/images/icon-close.svg";
---

<nav class="flex items-center justify-between px-4 pt-4 pb-4">
  <div class="flex items-center gap-4">
    <img id="menuIcon" src={menuIcon.src} alt="Menu icon" />
    <img
      class="pb-1 w-[125px] max-w-[150px]"
      src={logoIcon.src}
      alt="Logo icon sneakers"
    />
  </div>
  <div class="flex items-center gap-4">
    <img src={logoCart.src} alt="logo cart" />
    <img class="h-7" src={imageAvatar.src} alt="avatar" />
  </div>
</nav>
<div
  
  id="mobileNavBar"
  class="bg-black/70 w-full h-full fixed top-0 left-0 z-50"
>
  <div class="bg-white w-[70%] h-full fixed">
    <div id="closeBtn" class="p-6">
      <img src={closeIcon.src} alt="" />
    </div>
    <nav class="flex flex-col p-6 gap-5 font-bold">
      <a href="">Collections</a>
      <a href="">Men</a>
      <a href="">Women</a>
      <a href="">About</a>
      <a href="">Contact</a>
    </nav>
  </div>
</div>

<script>
  const closeBtn = document.querySelector("#closeBtn");
  const mobileNavBar = document.querySelector("#mobileNavBar");

  const menuIcon = document.querySelector("#menuIcon");

  closeBtn.addEventListener("click", () => {
    mobileNavBar.hidden = true;
  });

  menuIcon.addEventListener("click", () => {
    mobileNavBar.hidden = false;
  });

</script>
